<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/gamestyle.css" />
  </head>
  <body>
    <div class="container">
      <img class="pic" src="/static/game-logo.png" />

      <div class="row">
        <div class="box">
          <form class="form-horizontal" action="/play/" method="post">
            <button class="button-85" name="forwardBtn" type="submit">
              LETS GO!
            </button>

            <h3 class="rando">Dab your wing in hot sauce number: {{rand}}</h3>

            <h3 class="instruction">{{words}}</h3>
          </form>

          <p class="rounds">Round: {{new}} of {{level}}</p>

          <!-- ************************************************************************************************ -->
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
