<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <img class="logo" src="/static/logo.png" alt="" />
    </header>
    <div class="container">
      <form action="/forward/" method="post">
        <button class="btn" name="forwardBtn" type="submit">PLAY</button>
      </form>
    </div>
    <footer class="footer">
      <p class="cp-text">
        © Copyright 2022 Ya mum. All rights reserved Ya Dawg.
      </p>
    </footer>

    <script></script>
  </body>
</html>
